$main-brand: #77b05e;
$main-brand--darker: #63924e;

$main-dark: #000000;
$main-dark--light: #404040;

$main-light: #ffffff;
$main-light--light: #eaeaea;

$text-light: #808080;

$dash-light: #fafafa;
$dash-main: #ffffff;

$error: #e74c3c;
$error--darker: #d44838;
$warning: #e67e22;
