@import "App/__styles__/variables.scss";

.PaginationWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 40px;

    .Pagination {
        display: flex;

        .Pagination-page,
        .Pagination-controls,
        .Pagination-more {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border: 0;
            background: 0;
            border-radius: 7px;

            &:hover {
                cursor: pointer;
            }
        }

        .Pagination-page {
            background: #ffffff;
            color: #000000;
            font-size: 1.4rem;
            font-weight: 600;
            box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.1);
            margin: 0 5px;
        }

        .Pagination-page--active {
            background: $main-brand;
            color: #ffffff;
        }

        .Pagination-controls {
            color: #000000;
            font-size: 2rem;
        }

        .Pagination-controls--left {
            margin-right: 20px;
        }

        .Pagination-controls--right {
            margin-left: 20px;
        }

        .Pagination-controls--hidden {
            visibility: hidden;
        }

        .Pagination-selectPage {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .Pagination-label {
                color: #404040;
                margin-right: 10px;
            }

            .Pagination-input {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                text-align: center;
                background: #ffffff;
                border-radius: 7px;
                border: 0px solid $main-brand;
                margin-right: 20px;
                box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.1);
                color: #000000;
                font-size: 1.4rem;

                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }
    }
}
